<script>
  import axios from "axios";
  import { onMount } from "svelte";

  let quotes = [];

  onMount(async () => {
    const { data } = await axios.get("/api/quotes");
    quotes = data;
  });
</script>

<style>

</style>

<div class="container">
  <h1>Hola que tal</h1>
  {#each quotes as cita}
    <h1>{cita.author}</h1>
    <p>{cita.quote}</p>
  {/each}

</div>
